<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script 
		src="https://kit.fontawesome.com/4da7a940f0.js"
		crossorigin="anonymous"
	></script>
	<link rel="stylesheet" href="/stylesheets/main.css">

  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD9/f0AzMzMAP7+/gDCwv8A////AJGR/wBra2sAlpWTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZmZmZmZmZmZjMzNVVTMzNmMzNVd1UzM2YzNVd3dVMzZjNVdHdHVTNmNVcHFHF1U2ZXdEcUcUdVZldEcURHFHVmdERxREcUR2d3d3d3d3d3dnREcURHFCdmV0cXRHF0dWZVcUR3FEdVZjVXd3d3dVNmM1VVVVVVM2ZmZmZmZmZmYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />

  <title><%= title %></title>