</head>
<body>
  <nav>
		<i class="fas fa-film fa-2x"></i>  
    <a 
      href="/movies/new" <%- title === 'ADD FLIGHT' ? 'class="active"' : '' %>
    >ADD MOVIE</a>
    <a 
      href="/movies" <%- title === 'ADD FLIGHT' ? 'class="active"' : '' %>
    >ALL MOVIES</a>
  </nav>