body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #d1e3dd;
  color: #5762D5;
  text-align: center;
  align-items: center;
  margin: 0;
}

a {
  color: #6E7DAB;

}

a:link{
  text-decoration: none;
}
a:hover{
  color:#6E7DAB;
  background: #00B7FF;
}

nav{
  background: #575366;
  font-size: x-large;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: left;

}

nav>i{
  margin-left: 20px;

}
nav>a{
  margin-left: 20px;
  padding: 5px;
}


table{
  margin-left: auto;
  margin-right: auto;
  border-collapse:collapse;
  border:1px solid #32292F;
  border-radius: 12%;
  

  }
  
  table td{
  border:1px solid #32292F;
  }
 
  form>button{
    padding: 3px;
    background: #5762D5;
    border-radius: 5px;
    border: #32292F solid 1px;
    color:#32292F;
  }
  button:hover{
    color:#6E7DAB;
    background: #00B7FF;
    cursor: pointer;
  }
  input{
    background: #6E7DAB;
    color: #D1E3DD;
    border-radius: 5px;
    margin-top: 3px;

  }
  select {
    background: #6E7DAB;
    color: #D1E3DD;
    margin-top: 3px;
  }

  ::placeholder{
    color: black;
  }