body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  color: rgb(105, 131, 214);
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

nav{
  background: gray;
  font-size: x-large;
  padding: 10px; 
  display: flex;
  justify-content: left;

}

nav>i{
  padding-left: 20px;

}
nav>a{
  padding-left: 20px;
}

table{
  margin-left: auto;
  margin-right: auto;
}